In [7]:
classopcua.client.client.Client(url, timeout=4)[source]

In [8]:
update_processing()
proc.all.order_number.to_list()

In [45]:
sql = """
    SELECT order_id FROM ignition.production_schedule.batch_orders    
"""
batch_mos = pd.DataFrame(call_ignition(sql))['order_id'].to_list()
processing_mos = proc.GY34.order_number.to_list()
print(f"batch/proc : {len(batch_mos)}/{len(processing_mos)}")
# main_list = list(set(batch_mos) - set(processing_mos))
main_list = list(set(processing_mos) - set(batch_mos))
len(main_list)

batch/proc : 4785/117

18

In [46]:
main_list

['M208450',
 'M208467',
 'M208466',
 'M208463',
 'M208458',
 'M208452',
 'M208460',
 'M196522',
 'M208451',
 'M208453',
 'M208457',
 'M208456',
 'M208465',
 'M208464',
 'M208461',
 'M208462',
 'M208459',
 'M208469']

In [26]:
processing_mos = proc.GY34.order_number.to_list()
len(processing_mos)

117

In [33]:
batch_mos

    order_id
0    M208474
1    M208475
2    M208476
3    M208477
4    M162527
..       ...
195  M206475
196  M205097
197  M205096
198  M205095
199  M205094

[200 rows x 1 columns]