In [2]:
from db import call_ignition, update_ignition
from queries import proc, update_processing, calc_all_priority, get_batch, set_kanban, all_priority_call
from release_gy3 import get_stock, possible_shortest_rail
from queries import post_carts
import pandas as pd
import numpy as np
from datetime import timedelta, date, datetime
import re
import os
set_kanban(False)
update_processing()

throttle_2880_2841.pth

In [8]:
# datetime(1689868800000)
datetime.utcfromtimestamp(1689552000).strftime('%Y-%m-%d %H:%M:%S')

'2023-07-17 00:00:00'

In [ ]:
df = proc.HK.copy()
df = df.set_index('order_number')
df.loc['M235904']

In [8]:
run_id, batch_order, batch_df = get_batch()

In [12]:
test = batch_df.reset_index()
test[test['batch_id'].str.contains('M-')]

,batch_id,batch_due,facility,processing,machine_processing,entry_time,run_id,facility_description,mos
12,M-M198380,2023-06-27,K0010,False,undefined,2023-07-07 10:30:50.188,0aa7385e18c40277,FINAL INSPECTION,M198380
13,M-M190745,2023-06-28,H0030,True,ZPH010,2023-07-07 10:30:50.188,0aa7385e18c40277,ARMOLOY (CHROME)IL,M190745
14,M-M190746,2023-06-28,H0030,True,ZPH010,2023-07-07 10:30:50.188,0aa7385e18c40277,ARMOLOY (CHROME)IL,M190746
15,M-M190747,2023-06-28,H0030,True,ZPH010,2023-07-07 10:30:50.188,0aa7385e18c40277,ARMOLOY (CHROME)IL,M190747
16,M-M233624,2023-06-29,H0030,True,ZPH005,2023-07-07 10:30:50.188,0aa7385e18c40277,ARMOLOY (CHROME)IL,M233624
...,...,...,...,...,...,...,...,...,...
301,M-M232194,2023-10-27,K0010,False,undefined,2023-07-07 10:30:50.188,0aa7385e18c40277,FINAL INSPECTION,M232194
302,M-M232195,2023-10-27,C0060,False,undefined,2023-07-07 10:30:50.188,0aa7385e18c40277,ROTARY GRINDING,M232195
303,M-M237421,2023-11-07,C0080,False,undefined,2023-07-07 10:30:50.188,0aa7385e18c40277,RAIL GROOVE GRINDING,M237421
304,M-M235402,2023-11-17,C0075,False,undefined,2023-07-07 10:30:50.188,0aa7385e18c40277,RAIL SURFACE/GROOVE GRINDING,M235402
305,M-M235401,2023-11-17,C0075,False,undefined,2023-07-07 10:30:50.188,0aa7385e18c40277,RAIL SURFACE/GROOVE GRINDING,M235401

In [17]:
res = calc_all_priority(batch_order)
res

,priority,order_id,batch_id,start_due,product_family,product_model,product_length
0,0,M198380,M-M198380,2023-06-30 21:00:00,HSR,15,548.0
1,1,M230823,GY3B2FA7748,2023-07-06 20:00:00,SR,20,5000.0
2,2,M208104,M-M208104,2023-07-07 18:00:00,SHS,15,100.0
3,3,M213849,M-M213849,2023-07-08 02:00:00,SHS,15,1029.0
4,4,M212643,M-M212643,2023-07-08 12:00:00,HSR,30,1163.0
...,...,...,...,...,...,...,...
301,301,M222386,ONS039,NaT,SRS,9X,1000.0
302,302,M222403,OBN179,NaT,SRS,9X,1000.0
303,303,M227388,TBW119,NaT,HSR,15,3240.0
304,304,M234793,UHL736,NaT,HSR,20,5100.0
305,305,M234786,GFH384,NaT,SHS,30,3020.0

In [19]:
res[res['batch_id'] == 'M-M235904']

,priority,order_id,batch_id,start_due,product_family,product_model,product_length
94,94,M235904,M-M235904,2023-07-26 10:00:00,HSR,25,1600.0

In [22]:
res = all_priority_call(True)

In [24]:
res[res['batch_id'] == 'M-M235904']

,index,batch_id,priority,order_id,start_due,product_family,product_model,product_length,batch_due,facility,processing,machine_processing,entry_time,run_id,facility_description,mos,type
93,93,M-M235904,93,M235904,2023-07-26 10:00:00,HSR,25,1600.0,2023-07-26,C0020,False,undefined,2023-07-07 11:00:00.040,7fce0ef6bafdf2e1,WHEEL CUTTING HALF 3,M235904,HSR25